.button-large {
    width: 500px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button-medium {
    width: 250px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button-small {
    width: 125px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

td {
  padding: 5px;
}

th {
    height: 25px;
    background: #4E9CAF;
    padding: 3px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

tr:nth-child(odd){
  background-color: #e0f0f0;
  color: #000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

* {
    font-family:Arial;
    font-size:12px;
}
